# host_vars/host.exmaple.com
---
# Stamp: Bin Directory
stamp_bindir: "/tmp"
# Stamp: Log Directory
stamp_logdir: "/tmp"
# Stamp: Log File
stamp_log: "stamp.log"
# Stamp: Schedule (Minutes)
stamp_schedule: "5"
