[Unit]
Description=Host Log Scheduler
After=network.target
 
[Service]
Type=simple
User={{ stamp_user }}
Restart=on-failure
TimeoutStartSec=0
StartLimitBurst=3
ExecStart={{ stamp_lin_bindir }}/stamp.sh
 
[Install]
WantedBy=multi-user.target
